@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.nav-section{
    padding: 20px 80px;
}
.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0px;
} 


/*---HEADER SECTION---*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aeaed0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    margin-top: 0px;
}


#header .logo{
    width: 100px;
    height: 60px;
}

.active{
    color:#067916;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s all;
}

#navbar #close{
    display: none;
}

#navbar li{
    list-style-type: none;
    padding: 0 20px;
    transition: 0.3s ease;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    position: relative;
}


#navbar li a:hover{
    color: #067916;
}
#navbar li a.active{
    color: #067916;
}

#navbar li a:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    background-color: #067916;
    margin-left: -100%;
}

#mobile{
    display: none;
}

/*---Hero---*/

#hero{
    background:#aeaed0 url(img/hero.webp);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top 0% left 100%;
    width: 100%;
    height: 90vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #067916;
}

#hero button{
    width: 210px;
    height: 85px;
    background: url("img/button.png") no-repeat right 0% center / cover;
    background-color: transparent;
    background-size: 200px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
}

#hero button:hover{
    color: #067916;
}

#feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow:  20px 20px 34px rgba(0,0,0,0.05);
    margin: 20px 0px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}

#feature .fe-box img{
    width: 160px;
    margin-left: -8px;
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    background-color: #efdba54c;
    color: #067916;
    margin-top: 14px;
    font-size: 16px;
}
#feature .fe-box:hover{
    box-shadow:  10px 10px 54px rgba(0,0,0,0.015);
}

.product{
    width: 260px;
    height: 300px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.product:hover{
    box-shadow: 0 0 60px 1px rgba(0,0,0,0.2);
}

.product img{
    width: 100%;
    height: 190px;
    border-radius: 20px;
    background: rgba(0,0,0,0.1);
    padding: 10px;
}

.product1, h2, p{
    text-align: center;
}
.Featured_p{
    text-align: center;
}
.color{
    color: #fff;
}
.product_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}
.product1 .description{
    text-align: start;
    padding: 10px 0px;
}

.product .description span{
    color: #060606d2;
    font-size: 12px;
}

.product .description h5{
    font-size: 14px;
    margin-top: 7px;
    color: #1a1a1a;
}

.product .description i{
    font-size: 14px;
    line-height: 5;
}
.product .description h4{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 7px;
    color: #067916;
}

.product a{
    position: absolute;
    right: 10px;
    bottom: 4px;
}
.product a ion-icon{
    width: 20px;
    height: 20px;
    background-color: #e8f6e8;
    border-radius: 50%;
    padding: 6px;
    font-size: 15px;
    color: #067916;
}


/*-----Banner Section-----*/

#banner{
    width: 87%;
    height: 80vh;
    margin: auto;
    background: rgba(167, 100, 230, 0.724) url("img/banner-png-30.png") no-repeat top center;
    background-size: 100%;
    background-position: top 100%;
    margin-top: 3rem;
    text-align: center;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px double blueviolet;
    border-radius: 5px;

}
#banner h4{
    text-align: center;
}
#banner button{
    padding: 0.6rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
#banner span{
    color: red;
}



#ms_banner{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
}

#ms_banner .benner_box{
    width: 48%;
    height: 300px;
    background: url("img/banner_3.jpg") no-repeat center center / cover;
    text-align: left;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

#ms_banner .benner_box:nth-child(2){
    background: url("img/collection_2.jpg") no-repeat center center / cover;
}
#ms_banner .benner_box::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    top: 0;
    left: 0;
}
#ms_banner .benner_box h2, h4, span{
    text-align: left;
    color: #fff;
    z-index: 22;
}

#ms_banner .benner_box button{
    padding: 0.6rem 1.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s all;
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    z-index: 22;
}

#ms_banner .benner_box:hover button{
    background-color: #067916;
    border: 2px solid transparent;
}

#banner_3{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-top: -20px;
}

#banner_3 h2{
    font-size: 30px;
}


#banner_3 .benner_box{
    width: 31%;
    height: 32vh;
    text-align: left;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
#banner_3 .benner_box img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
}


#banner_3 .benner_box h2{
    color: #fff;
    font-weight: 800;
    font-size: 18.5px;
    z-index: 22;
}

#banner_3 .benner_box h3{
    color: #fb5800;
    font-weight: 700;
    z-index: 22;
}

#banner_3 .benner_box::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    top: 0;
    left: 0;
}

/*----newaLatter section-----*/

#newslatter{
    width: 100%;
    height: auto;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#newslatter .newText h4{
    font-size: 30px;

}
#newslatter .newText p{
    font-size: 18px;
    color: #fff;
}

#newslatter .newText p span{
    font-size: 17px;
    color: orangered;
    cursor: pointer;
}

#newslatter .form input{
   width: 250px;
   height: 40px;
   padding: 0.3rem 0.5rem;  
   border: none;
   outline: none;
}
#newslatter .form input:focus{
    border: none;
    outline: none;
 }

 #newslatter .form input::placeholder{
    font-family: "Josefin Sans", sans-serif;
    opacity: 0.8;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
 }
 
 #newslatter .form input:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }

#newslatter .form input:nth-child(2){
    width: 90px;
    height: 40px;
    background-color: #299838;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: #fff;
 }
 
 
 footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
 }

 footer .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem 0.5rem;
 }

 footer .fast_col p{
    text-align: left;
    line-height: 2;
    color: #000;
 }
 footer .icon{
    padding: 1rem 0.4rem;
    margin-left: -0.8rem;
 }

 footer .icon a ion-icon{
    font-size: 30px;
    padding: 0rem 0.3rem;
    color: #000;
    transition: 0.4s all;
 }
 footer .icon a ion-icon:hover{
    transform: scale(1.5);
 }

 footer .col a{
    text-decoration: none;
    line-height: 2;
 }

 footer #img_2{
    position: relative;
    top: 14px;
 }
 footer h4{
    color: #000;
 }

footer .last_span a img{
    width: 90px;
    height: 40px;
    padding: 0.5rem 0.2rem;
}
footer .copyRight{
    width: 100%;
}
footer .copyRight p{
    text-align: center;
    color: #000;
}

/*----------------Shop---------------*/
#page_header{
    background: url("img/shop_2.jpg") no-repeat center center / cover;
    width: 100%;
    height: 70vh;
}

#page_header h2, p{
    color: #fff;
    text-transform: capitalize;
}

#pageination{
    display: flex;;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

#pageination a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 0.5rem 1.3rem;
    background-color: #2f954fd2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    transition: 0.6s all;
}
#pageination a:last-child{
    background-color: #2f954fd2;
    padding-top: 8px;
    padding-bottom: 2px;
}

#pageination a:hover{
    background-color: #155b2bd2;
}
/*----------------singel Product---------------*/

#productDitails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
}

#mainSection{
    width: 48%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}
#mainSection #mainImage{
    width: 95%;
    height: 50vh;
    background-color: #9b959555;
    padding: 30px;
    border-radius: 5px;
 }
.img_group{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.7rem;
}

.img_group .img_col{
    width: 25%;
    height: 20vh;
    cursor: pointer;
    background-color: #9b959555;
    padding: 10px;
}
.img_group .img_col img{
    width: 100%;
    height: 100%;
}

.categry{
    width: 48%;
    height: 80vh;
}
.c_con{
    width: 100%;
    height: 100%;
    padding-top: 30px;    
}
.c_con h2,.pro_h4,h6,.pro_p{
    color: #000;
    padding: 10px 20px;
    text-align: left;
}
.c_con .pro_p{
    line-height: 1.2;
    margin-top: 0;
}
.c_con h2{
    font-size: 26px;
}

.c_con h6{
    font-size: 20px;
}
.c_con button{
    padding: 0.4rem 1.5rem;
    background-color: #299838;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.c_con select{
    cursor: pointer;
}

.c_con select, .input_counter{
    margin: 10px 20px;
    padding: 6px 8px;
}
.c_con .input_counter{
    width: 60px;
}
.c_con .input_counter:focus{
    outline: none;
}

.Sp{
    color: #000;
}

/*=========== Blog Pasge =========*/
#page_header.blog_header{
    background: url("img/wp2036002.jpg") no-repeat center center / cover;
}
.blog_header p{
    text-align: center;
    color: #fff;
}
#page_header_blog h2{
    color: #fff;
    margin-top: 40px;
}
#page_header_blog p{
    color: #fff;
    margin-top: 40px;
    font-weight: 800;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#blog .blog_box{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 150px 0px 150px;
    margin: 110px 0px;
    position: relative;
}
#blog .blog_box #counter{
    position: absolute;
    top: 30px;
    left: 13.5%;
    color: #abc8f0;
    font-size: 77px;
    z-index: -1;
}

#blog .blog_box h4, p{
    color: #000;
    text-align: left;
}
#blog .blog_box p{
    line-height: 1.4;
}
#blog .blog_box h4{
    font-size: 27px;
}
#blog .blog_box a{
    color: #000;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    transition: 0.4s all;
}
#blog .blog_box a::after{
    content: '';
    position: absolute;
    width: 70px;
    height: 1.5px;
    background-color: #000;
    top: 40%;
    left: 110%;
    transition: 0.4s all;
}
#blog .blog_box a:hover{
    color: #06a21b;
}
#blog .blog_box a:hover::after{
    background-color: #06a21b;
}

#blog .blog_box .blog_img,.blog_ditails{
    width: 48%;
    height: 50vh;
}

#blog .blog_box .blog_img img{
    width: 80%;
    height: 90%;
}

.blog_ditails{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/*============ About Section ==========*/
#page_header.About_header{
    background:  url("img/city.jpg") no-repeat center center / cover;
    position: relative;
}
#page_header.About_header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005c;
    top: 0;
    left: 0;
}
#page_header.About_header h2{
    padding-top: 3rem;
    color: #00ff22;
    position: relative;
    z-index: 22;
}
#page_header.About_header p{
    color: #00ff22;
    position: relative;
    z-index: 22;
}

#about_head{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 3rem;
}

.about_img, .aboutDitails{
    width: 48%;
    height: 70vh;
}

.aboutDitails{
    text-align: left;

}
.aboutDitails p, abbr{
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
}
.aboutDitails marquee{
    margin-top: 1.5rem;
}

.aboutDitails h2{
    text-align: left;
    padding: 2rem 0.5rem; 
}

.about_img img{
    width: 100%;
    height: 100%;
}

#about_app{
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about_app video{
    width: 80%;
    border-radius: 10px;
}
#about_app a{
    text-decoration: none;
}

/* ======= CONTACT SECTION =======*/

#contant_ditails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_ditails_inner{
    padding: 20px;
}
#contant_ditails .map iframe{
    width: 100%;
    height: 100%;
}
.contact_ditails_inner, .map{
    width: 48%;
    height: 60vh;
}
.contact_ditails_inner .contact_span, #formDitails form span{
    color: #000;
    font-size: 12px;
}
.contact_ditails_inner h2, #formDitails form h2{
    font-size: 22px;
    text-align: left;
    padding: 12px 0px;
    line-height: 1;
}

.contact_ditails_inner li{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
}
.contact_ditails_inner .list{
    margin-top: 1rem;
}
.contact_ditails_inner li ion-icon{
    padding-right: 10px;
}
.contact_ditails_inner .contact_h3{
    padding: 5px 0px;
}

/*=========Contact Form===========*/
#formDitails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#formDitails form, .people{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formDitails .people{
    padding-left: 9rem;
}
#formDitails form input{
    width: 96%;
    height: 35px;
    margin-bottom: 10px; 
    outline: none;
    padding: 3px 5px;
}
#formDitails form textarea{
    width: 96%;
    height: 140px;
    margin-bottom: 10px; 
    outline: none;
    padding: 10px;
}
#formDitails form input:last-child{
    width: 20%;
    padding: 0.5rem 1rem;
    background-color: #06a01a;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 0px;
    cursor: pointer;
    margin-left: -25.2rem;
}

#formDitails form .weLove{
    margin-left: -14.4rem;
}
#formDitails form span{
    margin-left: -24rem;

}
#formDitails .people{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}
#formDitails .people div{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}
#formDitails .people img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#formDitails .people p{
   font-size: 13px;
   margin: 0;
   line-height: 25px;
}
#formDitails .people span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
 }


 /*========== CART PAGE ============*/
 #cart {
    overflow-x: auto;
 }
 #page_header.cart_header{
    background: url("img/cartStore.webp") no-repeat top 10% center / cover;

 }
 #page_header.cart_header p{
    color: #fff;
    text-align: center;
 }

 #cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
 }
 
 #cart table img{
    width: 70px;
    height: 60px;
 }

 
 #cart table td:nth-child(1){
    width: 100px;
    text-align: center;
 }
  
 #cart table td:nth-child(2){
    width: 150px;
    text-align: center;
 }
  
 #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
 }

 #cart table td:nth-child(4),
 #cart table td:nth-child(5),
 #cart table td:nth-child(6){
    width: 150px;
    text-align: center;
 }

 #cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
 }

 #cart table thead{
    border: 1px solid #abc8f0;
    border-left: none;
    border-right: none;
 }
 
 #cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
 }
 #cart table tbody tr td{
    padding-top: 15px;
 }

 #cart table tbody td{
    font-size: 13px;
 }

 #cart_add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
 }
#coupon{
    width: 50%;
    margin-bottom: 30px;
 }
 #coupon h3, #subtotal h3{
   padding-bottom: 15px;
 }
 #coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border:1px solid #a6aba4;
  }
 #coupon button, .normal{
    background-color: #06a21b;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    cursor: pointer;
 }
 #subtotal{
    width: 50%;
    margin-bottom: 30px;
    padding: 30px;
    border:1px solid #a6aba4;
 }

 #subtotal table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 13px;
 }
 #subtotal table td{
    width: 50%;
    border:1px solid #a6aba4;
    padding: 10px;
 }

/*``=================== MEADIA QUERY ===================``*/

@media (max-width: 1024px){
    #banner_3 {
        justify-content: center;
    }
    #banner_3 .benner_box {
        width: 30%;
        height: 27vh;
    }

    .product_container {
        justify-content: center;
        gap: 2rem;
    }
    .img_group .img_col {
        width: 22%;
    }

    
    /*===== Blog Page =====*/
    #blog .blog_box {
        width: 100%;
        height: 45vh;
        padding: 150px 20px;
    }
    #blog .blog_box .blog_img img{
        height: 80%;
    }
    #blog .blog_box .blog_img, .blog_ditails {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #blog .blog_ditails {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    #blog .blog_box .blog_ditails {
        padding: 22px;
    }
    #blog .blog_box #counter {
        top: -25px;
        left: 6.5%;
    }

    /*==About===*/
    .about_img, .aboutDitails {
        width: 48%;
        height: 70vh;
    }
    .aboutDitails{
        text-align: left;
        padding-top: 8rem;
    }

     /*== contact ==*/

     #formDitails{
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    #formDitails form span {
        margin-left: -16.5rem;
    }
    #formDitails form input{
        height: 42px;
    }
    #formDitails form{
        margin-left: 0rem;
    }
    #formDitails form .weLove {
        margin-left: -6.6rem;
        text-align: left;
    }
    #formDitails form input:last-child {
       width: 20%;
       padding: 0.4rem 0rem;
       margin-left: 19rem;
       margin-top: 1rem;
    }
    #contant_ditails {
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin: 3rem 0rem;

    }

    #contant_ditails .contact_ditails_inner ,.map{
        height: 40vh;
    }
}


@media (max-width: 990px) {
    
    /*--single--product--*/

    #mainSection{
        width: 70%;
    }
    .categry {
        width: 70%;
    }
    /*==about==*/
    #about_head {
        flex-direction: column;
    }
    .about_img, .aboutDitails {
        width: 80%;
        height: 70vh;
    }
    .aboutDitails{
        text-align: left;
        padding-top: 1rem;
    }

    /*== contact ==*/

    #formDitails{
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    #formDitails form span {
        margin-left: -16.5rem;
    }
    #formDitails form input{
        height: 40px;
        margin-bottom: 1rem;
    }
    #formDitails form{
        margin-left: 0.3rem;
    }
    #formDitails form .weLove {
        margin-left: -6.6rem;
        text-align: left;
    }
    #formDitails form input:last-child {
       width: 20%;
       padding: 0.4rem 0rem;
       margin-left: -18.5rem;
       margin-top: 1rem;
    }
    #contant_ditails {
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin: 3rem 0rem;

    }

    #contant_ditails .contact_ditails_inner ,.map{
        height: 40vh;
    }
}


@media (max-width: 799px) {
    .nav-section {
        padding: 10px 36px;
    }
    .section-p1{
        padding: 40px 10px;
    }

    #header .logo {
        width: 90px;
        height: 50px;
    }
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -310px;
        height: 100vh;
        width: 300px;
        background-color: #c9e3ec;
        box-shadow: -3px -3px 10px#94cde0;
        padding: 80px 0 0 10px;
        z-index: 999;
    }

    #navbar li{
        margin-bottom: 1.5rem;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #bag{
        display: none;
    }
    #mobile ion-icon{
        font-size: 24px;
        padding-left: 20px;
        color: #fff;
    }
    #close{
        position: absolute;
        top: 25px;
        left: 25px;
        color: #fff;
        font-size: 35px;
        display: initial !important;
    }

    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 100% right -20%;
        background-size: 65%;
    }
    #hero h1, h2{
        font-size: 30px;
    }

    #feature {
        justify-content: center;
        gap: 2rem;
    }

    .product_container {
        justify-content: space-around;
    }

    #ms_banner,  #banner_3{
        row-gap: 2rem;
    }

    #ms_banner .benner_box {
        width: 90%;
    }

    #ms_banner h2{
        font-size: 30px;
    }

    #banner_3 .benner_box {
        width: 90%;
        height: 60vh;
    }

    #banner h2{
        font-size: 30px;
        margin-top: 40px;
    }
    #banner h4{
        font-size: 22px;
        margin-top: 10px;
    }
    #banner button{
       margin-top: 13px;
    }

    /*--single--product--*/

    #mainSection{
        width: 70%;
    }
    .categry {
        width: 70%;
    }

    /*===== Blog Page =====*/
    #blog .blog_box {
        width: 100%;
        height: 45vh;
        padding: 150px 10px;
    }
    #blog .blog_box .blog_img, .blog_ditails {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    #blog .blog_box .blog_ditails {
        padding: 22px;
    }
    #blog .blog_box #counter {
        top: -65px;
        left: 5.5%;
    }
    /*=== about ===*/
    #about_head {
        flex-direction: column;
    }
    .about_img, .aboutDitails {
        width: 80%;
        height: 70vh;
    }
    .aboutDitails{
        text-align: left;
        padding-top: 1rem;
        font-size: 23px;
    }

    .aboutDitails p{
        font-size: 20px;
    }

      /*===== contact ======*/
    #contant_ditails{
        flex-direction: column;
        row-gap: 10rem;
    }
    .contact_ditails_inner, .map {
        width: 90%;
        height: 60vh;
    }
    #formDitails {
        flex-direction: column;
    }
    #formDitails form{
        margin-bottom: 3rem;
        margin-left: 0.2rem;
    }
    #formDitails form, .people {
        width: 90%;
    }
    #formDitails .people div{
        width: 100%;
    }
    #formDitails .people {
      padding: 0;
    }
    #formDitails form span {
        margin-left: 0rem;
    }

    #formDitails form .weLove {
        margin-left: 0rem;
        text-align: center;
    }
    #formDitails form input:last-child {
        width: 97%;
       padding: 0.4rem 0rem;
       margin-left: 0rem; 
    }
    /*==== CART ====*/

    #cart_add {
        flex-direction: column;
        justify-content: center;
        }
        #cart_add #coupon,#subtotal{
            width: 100%;
        
        }

}

@media (max-width: 660px) {

    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 100% right -20%;
        background-size: 67%;
    }
      /*===== contact ======*/
      #contant_ditails{
        flex-direction: column;
        row-gap: 10rem;
    }
    .contact_ditails_inner, .map {
        width: 90%;
        height: 60vh;
    }
    #formDitails {
        flex-direction: column;
    }
    #formDitails form{
        margin-bottom: 1rem;
    }
    #formDitails form, .people {
        width: 90%;
    }
    #formDitails .people div{
        width: 100%;
    }
    #formDitails .people {
      padding: 0;
    }
    #formDitails form span {
        margin-left: 0rem;
    }

    #formDitails form .weLove {
        margin-left: 0rem;
        text-align: center;
    }
    #formDitails form input:last-child {
        width: 97%;
       padding: 0.4rem 0rem;
       margin-left: 0rem; 
    }

    /*==== CART ====*/

    #cart_add {
        flex-direction: column;
        justify-content: center;
        }
        #cart_add #coupon,#subtotal{
            width: 100%;
        
        }
}

@media (max-width: 520px) {
    
    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 100% right -20%;
        background-size: 72%;
    }
 
    /*--single--product--*/

    #mainSection{
        width: 70%;
    }
    .categry {
        width: 70%;
    }

    /*=== about ===*/
      #about_head {
        flex-direction: column;
    }
    .about_img, .aboutDitails {
        width: 90%;
        height: 50vh;
    }
    .aboutDitails{
        text-align: left;
        margin-bottom: 8rem;
    }

    .aboutDitails h2 {
        padding: 0;
    }
      /*===== contact ======*/
      #contant_ditails{
        flex-direction: column;
        row-gap: 10rem;
    }
    .contact_ditails_inner, .map {
        width: 90%;
        height: 60vh;
    }
    #formDitails {
        flex-direction: column;
    }
    #formDitails form{
        margin-bottom: 1rem;
    }
    #formDitails form, .people {
        width: 90%;
    }
    #formDitails .people div{
        width: 100%;
    }
    #formDitails .people {
      padding: 0;
    }
    #formDitails form span {
        margin-left: 0rem;
    }

    #formDitails form .weLove {
        margin-left: 0rem;
        text-align: center;
    }
    #formDitails form input:last-child {
        width: 97%;
       padding: 0.4rem 0rem;
       margin-left: 0rem; 
    }

    /*==== CART ====*/

    #cart_add {
        flex-direction: column;
        justify-content: center;
        }
        #cart_add #coupon,#subtotal{
            width: 100%;
        
        }
}

@media (max-width: 450px) {
    .nav-section {
        padding: 10px 35px;
    }
    .section-p1{
        padding: 40px 10px;
    }

    #header .logo {
        width: 70px;
        height: 50px;
    }
    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 100% right -100%;
        background-size: 90%;
    }

    #hero h1{
        font-size: 27px;
    }
    #hero p{
        font-size: 16px;
        font-weight: 700;
        color:#ffffff;
    }
    
    /*--single--product--*/

    #mainSection{
        width: 80%;
    }
    .categry {
        width: 80%;
        margin-bottom: 7rem;
    }
    .img_group{
        width: 95.5% !important;
    }
    #blog .blog_box {
        width: 100%;
        height: 70vh;
        flex-direction: column;
        padding: 150px 0px;
    }
    #blog .blog_box .blog_img, .blog_ditails {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: start;
        border: 2px solid red;
    }
    #blog .blog_box .blog_ditails {
        padding: 22px;
    }
    #blog .blog_box #counter {
        top: -118px;
        left: 16.5%;
    }

    /*=== about ===*/
      #about_head {
        flex-direction: column;
    }
    .about_img, .aboutDitails {
        width: 90%;
        height: 50vh;
    }
    .aboutDitails{
        text-align: left;
        margin-bottom: 8rem;
    }

    .aboutDitails h2 {
        padding: 0;
    }

      /*===== contact ======*/
      #contant_ditails{
        flex-direction: column;
        row-gap: 10rem;
    }
    .contact_ditails_inner{
        margin-bottom: 3rem;
    }
    .contact_ditails_inner, .map {
        width: 90%;
        height: 60vh;
    }
    #formDitails {
        flex-direction: column;
    }
    #formDitails form{
        margin-bottom: 1rem;
    }
    #formDitails form, .people {
        width: 90%;
    }
    #formDitails .people div{
        width: 100%;
    }
    #formDitails .people {
      padding: 0;
    }
    #formDitails form span {
        margin-left: 0rem;
    }

    #formDitails form .weLove {
        margin-left: 0rem;
        text-align: center;
    }
    #formDitails form input:last-child {
        width: 97%;
       padding: 0.4rem 0rem;
       margin-left: 0rem; 
    }

    /*==== CART ====*/

    #cart_add {
        flex-direction: column;
        justify-content: center;
        }
        #cart_add #coupon,#subtotal{
            width: 100%;
        
          }

}
@media (max-width: 420px){
    .nav-section {
        padding: 10px 35px;
    }
    .section-p1{
        padding: 40px 10px;
    }

    #header .logo {
        width: 70px;
        height: 50px;
    }
    #newslatter .form input:nth-child(1){
        margin-bottom: 20px;
    }
    #newslatter .form input{
        border-radius: 10px;
    }

    /*--single--product--*/

    #mainSection{
        width: 70%;
    }
    .categry {
        width: 78%;
    }
      /*=== about ===*/
      #about_head {
        flex-direction: column;
    }
    .about_img, .aboutDitails {
        width: 90%;
        height: 50vh;
    }
    .aboutDitails{
        text-align: left;
        margin-bottom: 8rem;
    }

    .aboutDitails h2 {
        padding: 0;
    }

    /*==== CART ====*/

    #cart_add {
        flex-direction: column;
        justify-content: center;
        }
        #cart_add #coupon,#subtotal{
            width: 100%;
        
        }

    /*===== contact ======*/
    #contant_ditails{
        flex-direction: column;
        row-gap: 10rem;
    }
    .contact_ditails_inner, .map {
        width: 90%;
        height: 60vh;
    }
    #formDitails {
        flex-direction: column;
    }
    #formDitails form{
        margin-bottom: 1rem;
    }
    #formDitails form, .people {
        width: 90%;
    }
    #formDitails .people div{
        width: 100%;
    }
    #formDitails .people {
      padding: 0;
    }
    #formDitails form span {
        margin-left: 0rem;
    }

    #formDitails form .weLove {
        margin-left: 0rem;
        text-align: center;
    }
    #formDitails form input:last-child {
        width: 97%;
       padding: 0.4rem 0rem;
       margin-left: 0rem; 
    }
        /*==== CART ====*/

        #cart_add {
            flex-direction: column;
            justify-content: center;
          }
          #cart_add #coupon,#subtotal{
              width: 100%;
          
          }

}

@media (max-width: 360px) {
    .nav-section {
        padding: 10px 10px;
    }
    .section-p1{
        padding: 40px 10px;
    }

    #header .logo {
        width: 70px;
        height: 50px;
    }
    .section-p1{
        padding: 40px 20px;
    }
    #hero {
        height: 70vh;
        padding: 0 15px;
        background-position: top 100% right -60px;
        background-size: 100%;
        line-height: 1.6;
    }
    #hero br{
        display: none;
    }

    #hero h1{
        font-size: 25px;
    }
    #hero h2{
        font-size: 25px;
    }
    #hero p{
        font-size: 19px;
        font-weight: 700;
        color:#ffffff;
        text-align: left;
    }

    /*--single--product--*/

    #mainSection{
        width: 97%;
    }
    .categry {
        width: 97%;
    }

        /*===== contact ======*/
        #contant_ditails{
            flex-direction: column;
            row-gap: 10rem;
        }
        .contact_ditails_inner, .map {
            width: 90%;
            height: 60vh;
        }
        #formDitails {
            flex-direction: column;
        }
        #formDitails form{
            margin-bottom: 1rem;
        }
        #formDitails form, .people {
            width: 90%;
        }
        #formDitails .people div{
            width: 100%;
        }
        #formDitails .people {
          padding: 0;
        }
        #formDitails form span {
            margin-left: 0rem;
        }
    
        #formDitails form .weLove {
            margin-left: 0rem;
            text-align: center;
        }
        #formDitails form input:last-child {
            width: 20%;
           padding: 0.4rem 0rem;
           margin-left: -13rem; 
        }
            /*==== CART ====*/

    #cart_add {
        flex-direction: column;
        justify-content: center;
      }
      #cart_add #coupon,#subtotal{
          width: 100%;
      
      }
}



@media (max-width: 320px) {
    .nav-section {
        padding: 10px 10px;
    }
    .section-p1{
        padding: 40px 10px;
    }

    #header .logo {
        width: 70px;
        height: 50px;
    }
    #hero {
        height: 70vh;
        padding: 0 15px;
        background-position: top 100% right -60px;
        background-size: 100%;
        line-height: 1.6;
    }
    #hero br{
        display: none;
    }

    #hero h1{
        font-size: 25px;
    }
    #hero h2{
        font-size: 25px;
    }
    #hero p{
        font-size: 19px;
        font-weight: 700;
        color:#ffffff;
        text-align: left;
    }

    /*--single--product--*/

    #mainSection{
        width: 97%;
    }
    .categry {
        width: 97%;
        margin-bottom: 6rem;
    }
    .img_group{
        width: 95.5% !important;
    }

    /*=== about ===*/
       #about_head {
        flex-direction: column;
    }
    .about_img, .aboutDitails {
        width: 90%;
        height: 50vh;
    }
    .aboutDitails{
        text-align: left;
        margin-bottom: 15rem;
    }

    .aboutDitails h2 {
        padding: 0;
    }
     /*===== contact ======*/
     #contant_ditails{
        flex-direction: column;
        row-gap: 10rem;
    }
    .contact_ditails_inner, .map {
        width: 90%;
        height: 60vh;
    }
    #formDitails {
        flex-direction: column;
    }
    #formDitails form{
        margin-bottom: 1rem;
    }
    #formDitails form, .people {
        width: 90%;
    }
    #formDitails .people div{
        width: 100%;
    }
    #formDitails .people {
      padding: 0;
    }
    #formDitails form span {
        margin-left: 0rem;
    }

    #formDitails form .weLove {
        margin-left: 0rem;
        text-align: center;
    }
    #formDitails form input:last-child {
        width: 20%;
       padding: 0.4rem 0rem;
       margin-left: -13rem; 
    }

    /*==== CART ====*/

    #cart_add {
      flex-direction: column;
      justify-content: center;
    }
    #cart_add #coupon,#subtotal{
        width: 100%;
    
    }

}

.none{
    display: none !important;
}